.chatbotWrapper {
    position: fixed;
    bottom: 38%;
    right: 5%;
    left: 5%;
  }
  
  .chatbotToggle {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5rem;
  }
  
  .chatbot {
    position: fixed;
    bottom: 70px;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: scroll;
  }
  
  .chatContainer {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
  }
  
  .userMessage {
    text-align: right;
    margin-bottom: 0.5rem;
  }
  
  .chatbotMessage {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .chat_input {
    border:none !important;
    width:100% !important;
    height: 70px !important;
  }

  .send_button  {
    color: #43eaf3;
    float : right;
    font-size: 30px
};

.button_tags {
  display: flex;
  flex-wrap: wrap;
}

.tag_button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.tag-button:hover {
  background-color: #ccc;
}
  